<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.agile.testcases.Login"/>
      <class name="com.agile.testcases.Customer"/>
      <class name="com.agile.testcases.Ministatement"/>
      <class name="com.agile.testcases.logouttest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
